%main-format {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: black;
}

$min-iphone-width: 375px;
$max-iphone-width: 667px;

/* Nav Bar */
nav {
  padding-top: 15px;
     a {
       @media (min-width: $max-iphone-width) {
          font-size: 200%;
       }
       @media (max-width: $max-iphone-width) {
          font-size: 105%;
       }
       text-align: center;
       color: black;
       border: solid black;
       font-style: italic;
       background-color: #ffffef;
       font-family: "IBM Plex Sans Condensed", sans-serif;
       &:hover {
         font-weight: bold;
         color: #42b3f4;
       }
     }
}

/* Home Page */
#index {
  background-color: #f2fdff;
}
#intro {
  @media (min-width: $max-iphone-width) {
    margin-left: 20%;
    margin-right: 20%;
  }
  margin: 1%;
  h1 {
    font-size: 300%;
  }
  img {
    @media (min-width: $max-iphone-width) {
      width: 15%;
      height: 15%;
    }
    @media only screen and (min-device-width : $min-iphone-width) and (max-device-width : $max-iphone-width) {
      width: 50%;
      height: 50%;
    }
  }
  .btn {
    @extend %main-format;
    background-color: lightblue;
  }
}
.listofthings {
  font-style: italic;
}
#description {
  @extend %main-format;
}

/* Other Pages */
.page-header {
  @extend %main-format;
  small {
    color: gray;
  }
}

/* Meme Page */
#memepage {
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}




/* About Me Page */
#aboutme {
  background-color: #eafffb;
}
/*Projects Page */
#projects {
  background-color: #ffeffc;
}
