$color: blue;

#woo {
  text-align: center;
  color: $color;
}

#intro {
  text-align: center;
  font-family: Arial, sans-serif;
  color: $color;
}

nav {
     a {
       text-align: center;
       color: black;
       border: solid blue;
     }
     a:hover {
        font-weight: bold;
        background-color: #ffffef;
     }
}
