%main-format {
  font-family: "Roboto", sans-serif;
  color: black;
}

%second-format {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  color: black;
}

$min-iphone-width: 375px;
$max-iphone-width: 667px;
$min-computer-width: 668px;

/* Nav Bar */
nav {
  padding-top: 15px;
     a {
       @extend %second-format;
       text-align: center;
       border: solid black;
       font-style: italic;
       background-color: #ffffef;
       font-size: 200%;
       &:hover {
         font-weight: bold;
         color: #42b3f4;
       }
     }
}

/* ~~~~ */
/* Intro Page */

#intro {
  img {
    @media only screen and (min-device-width: $min-iphone-width) and (max-device-width: $max-iphone-width) {
      /* taken from http://stephen.io/mediaqueries/#iPhone */
      /* if the screen is an iphone (6, 7, 8) */
      width: 50%;
    }
    @media (min-device-width: $min-computer-width) {
      width: 20%;
    }
    height: auto;
  }

  @media (min-device-width: $min-computer-width) {
    margin-left: 20%;
    margin-right: 20%;
  }
  p::before {
    content: "\2192            ";
  }
}

table {
  @extend %main-format;
  border: 2px solid black;
  @media (min-device-width: $min-computer-width) {
    margin-left: 40%;
    margin-right: 40%;
  }
  td, th {
    border: 1px solid black;
    padding: 5px;
  }
}
/* All Pages */
.page-header { /* not for homepage of course */
  @extend %main-format;
  text-align: center;
  small {
    color: gray;
  }
  h1 {
    font-size: 300%;
  }
}

.centered-text-box {
  /* provided for descriptions */
  @extend %second-format;
  text-align: center;
}

ul > li {
  @extend %main-format;
  font-style: italic;
}

/* Colors */
#index {
  background-color: #f2fdff;
}

#memepage {
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

/* About Me Page */
#aboutme {
  background-color: #eafffb;
}
/*Projects Page */
#projects {
  background-color: #ffeffc;
}
